// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-field {
  padding-top: 20px;
}

.bottom-padding {
  padding-bottom: 20px;
}

.outter-div {
  width: 50%;
  margin: auto;
  border: 0.5px solid #A9A9A9;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 3px #888888;
}

.navbar {
  margin-bottom: 0px;
}

.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
    background-repeat: no-repeat;
  background-size: auto;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
