<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.unsplash.com/photo-1530669244764-0909211cd8e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d05664d7ca7c1cb0b33aca72ac7e043&auto=format&fit=crop&w=634&q=80');">
  <div class="banner-content">
    <h1>Shooper!</h1>
    <p>Shopping made easy</p>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-primary"%>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"%>
  </div>
</div>
